body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "KaushanScript-Regular";
  src: url("./fonts/KaushanScript-Regular.ttf");
}
main {
  margin-top: 50px;
  padding: 50px 0;
}

.navbar-brand {
  font-family: "KaushanScript-Regular";
  font-size: 2.5rem;
  font-weight: 800;
}
.add_btn {
  text-align: right;
}

.details .content {
  font-size: 18px;
}
.details-user-img {
  border-radius: 50%;
  box-shadow: 0 0 10px #ddd;
  padding: 5px;
}
.details .content p svg {
  margin-right: 5px;
  font-size: 16px;
}
